/*
Комментарии для лучшего понимания. 
Для удобства не забываем комментировать и размещать стили
в соответсвующих областях.
*/

/*-----Общие стили для всех страниц-----*/
/*Минимальный размер страницы*/
#container {
    display: inline-table;
    min-width: 1300px;
}
/*Фон страницы*/
body {
    background-image: url(/img/background.jpg);
    background-size: auto;
    margin: 0;
    height: 1510px;
    //width: 1000px;
}
/*Заголовок*/
header {
    height: 250px;
    position: relative;
    margin: 0 auto 0 0;
}
/*Текс заголовка*/
#logo {
    height: 190px;
    font-family: arial;
    font-size: 100px;
    text-align: center;
    color: white;
    float: left;
    margin: 60px 50px 0 50px;
}
/*Погреб*/
footer {
    height: 100px;
    font-size: 30px;
    font-family: fantasy;
    color: green;
    text-align: center;
    //padding-top: 60px;
    clear: both;
}
/*Основной лист*/
#main {
    height: 1100px;
    border-radius: 20px;
    background-image: url(/img/main_background.jpg);
    background-size: cover;
    margin-left: 20px;
    padding: 30px 40px 30px 40px;
}
/*Таинственная псевдораспорка. Прячется в тени и носит шляпу.*/ 
/*Не трогайте её, позязя :3*/
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
/*Авторизация/регистрация в header.php*/
#reg_auth {
    float: left;
    width: 200px;
    background: linear-gradient(to top, #ffff00, #ffcc00);
    padding-top: 0px;
    border-bottom-right-radius: 15px;
}
/*--------------------------------------*/

/*-------------Кнопки-------------------*/
/*Кнопки в покое*/
.button {
    display: inline-block;
    background: url(/img/nav_current.png);    
    width: 111px;
    height: 82px;
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: 15px;
    padding-top: 50px;
    position: absolute;
}
/*Ссылки на кнопках*/
a {
    text-decoration: none;
    color: #000000;
}
/*--------------------------------------------*/

/*---------------Главная страница-------------*/
/*Колонка о нас*/
#about {
    width: 70%;
    float: left;
    background: #fff;
    border-radius: 30px;
    text-align: center;
}
/*Колонка обновлений книг*/
#newblebox {
    width: 300px;
    float: right;
    width: 240px;
    padding: 10px auto;    
    background: rgba(255,255,255,0.5);
    border-radius: 20px;
}

#newblebox h1 {
    text-align: center;
}
/*Книги*/
.newble {
    border-top: 3px solid black;
    margin-bottom: 30px;
}
/*Картинка книги*/
.newble img {
    width: 150px;
    height: 200px;
    margin-top: 15px;
    margin-left: 40px;
}
/*Колонка новостей*/
#newsbox {
    width: 70%;
    float: left;
    border-top: 5px #000000 solid;
    text-align: center;
}
/*Новости*/
.news {
    border: 5px darkseagreen solid;
    margin-bottom: 30px;
    height: 300px;    
}
/*Описание*/
.description {
    text-align: center;
}
/*Название книги*/
.description h1 {
    font-size: 25px;
    font-family: monospace;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*Автор*/
.description h3 {
    font-family: cursive;
    font-size: 15px;
    margin-top: 0;
}

.links {
    text-decoration: underline;
    color: blue;
}

#main > h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
}
/*--------------------------------------------*/

/*--------------------Каталог-----------------*/
/*Основной лист для каталога*/
#catalog_main {
    height: 1150px;
    background-image: url(/img/catalog.png);
    background-size: cover;
    margin: 0 0 0 150px;
    padding: 30px 40px 30px 40px;
}

.bookbox {
    display: inline-block;
    position: relative;
    width: 185px;
    height: 250px;
    margin: 105px 31px;
}

/*Картинка внутри краткой инфы о книге*/
.bookbox img {
    width: 150px;
    height: 205px;
    box-shadow: 10px -2px 20px;
    border-radius: 5px;  
}

/*Описание книги*/
.description_pop-up {
    display: block;
    position: absolute;
    width: 130px;
    height: 188px;
    color: #fff;
    padding: 10px;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    text-align: center;    
    border-radius: 5px; 
}

.bookbox h6 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    margin: 0;
    
}
.bookbox span {
    font-size:15px; 
    margin: 30px 0 0 0;
}
/*Блоки внутри артикля*/
.catalog-span {
    height: 1100px;
    float: left;
}
/*Навигационное меню "Жанры"*/
#navmenu {
    background-image: url(/img/navmenuli.jpg);
    background-size: cover;
    width: 150px;
    border-radius: 10px;
    font-family: cursive;
    //position: fixed;
}
/*Заголовок "Жанров"*/
#navmenu h1 {
    text-align: center;
    font-size: 30px;
    background-image: url(/img/navmenuh1.jpg);
    background-size: contain;
    margin-top: 0px;
    height: 50px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px #000000;
}
/*Элементы самого меню "Жанры"*/
#navmenu ul li {
    padding-top: 7px;
}
/*--------------------------------------------*/

/*----------------Страница книги-----------------*/
#page_main {
    height: 1148px;
    border-radius: 20px;
    background-image: url(/img/main_background.jpg);
    background-size: cover;
    margin: 0 35px 0 165px;
    padding: 30px 40px 30px 40px;
}
/*Обложка книги*/
.page_img {
    width: 250px;
    height: 385px;
}
/*Поле описания*/
#description {
    float: right;
    width: 70%;
}
/*Название*/
#description h1 {
    text-align: center;
    font-size: 50px;
}
/*Автор*/
#description h3 {
    text-align: center;
    font-size: 25px;
}
/*Имя оправителя и дата отправки*/
.user-date-page {
    float: right;
}
/*-----------------------------------------------*/

/*----------------Комментарии--------------------*/
/*Поле комментария*/
.page-comments-output {
    margin: 100px 0 0 0;
}

#catalog_main h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.comment {
    margin: 20px 0 20px 0;
}
/*Заголоок комментария*/
.comment_head {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #9f7b00;
    background: linear-gradient(to top, #9f7b00, #fff367);
    height: 40px;
    padding: auto;
    opacity: 0.9;
}
/*Автор комментария*/
.user {
    font-size: 15px;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}
/*Врямя создания комментария*/
.date {
    font-size: 15px;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
}
/*Тело комментария*/
.comment_body {
    background: #ffcc1e;
    background: linear-gradient(to top, #fff367, #ffcc1e);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    min-height: 50px;
    padding: 10px 0 10px 20px;
    opacity: 0.9;
}

.page-comments-input-textarea {
    resize: none;
    width: 100%;
    height: 100px;
}

.page-comments-input-textarea p {
    font-size: 15px;
}
/*-----------------------------------------------*/

/*----------------Регистрация-----------------*/
/*Заголовок*/
form > h1 {
    text-align: center;
    font-size: 30px;
}
/*--------------------------------------------*/

/*----------------Гостевая книга-----------------*/
/*Вывод*/
.gb-output {
    //height: 70%;
}
/*Поле ввода*/
.gb-input-textarea {
    resize: none;
    width: 100%;
    height: 100px;
}
/*-----------------------------------------------*/

/*----------------------Шапка--------------------*/
/**/
.header-search {
    position: absolute;
    float: right;
    bottom: 0;
    right: 0;
    width: 500px;
    color: rgb(255, 255, 255); 
    border: 2px solid rgb(100, 117, 134); 
    padding: 5px 2px 5px 30px; 
    background: url(../img/lpDemoBuscador.png) no-repeat scroll 5px 50% rgb(68, 85, 102);
}

/*----------------Всплывающие окно----------------*/
#login_pop-up {
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(172,183,142,0.7);
    position: fixed;
    visibility: hidden;
}

#login_pop-up div{
    background-color: white;
    border-radius: 10px;
    width: 300px;
    margin: 20% auto;
}

#login_pop-up div div {
    margin: -5px -10px 0 0;
    float: right;
    width: 40px;
    background-color: antiquewhite;
    cursor: pointer;
}

#reg_pop-up {
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(172,183,142,0.7);
    position: fixed;
    visibility: hidden;
}

#reg_pop-up div{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    margin: 10% auto;
}

#reg_pop-up div div {
    margin: -5px -10px 0 0;
    float: right;
    width: 40px;
    background-color: antiquewhite;
    cursor: pointer;
}
/*------------------------------------------------*/

#message {
    visibility: hidden;
    position: absolute;
}