/*
Комментарии для лучшего понимания. 
Для удобства не забываем комментировать и размещать стили
в соответсвующих областях.
*/

/*-----Общие стили для всех страниц-----*/
/*Минимальный размер страницы*/
#temp {
    background-image: url(/img/main_background.jpg);
    //color: white;
}
#container {
    margin: 0 auto;
    min-width: 1100px;
    max-width: 1980px;
}
/*Фон страницы*/
body {
    background-image: url(/img/background.jpg);
    background-size: cover;
    margin: 0;
}
/*Заголовок*/
header {
    height: 250px;
    width: 100%;
}
/*Текс заголовка*/
#logo {
    height: 190px;
    font-family: arial;
    font-size: 100px;
    text-align: center;
    color: white
}
/*Погреб*/
footer {
    max-height: 100px;
    height: 100px;
    font-size: 30px;
    font-family: fantasy;
    color: green;
    text-align: center;
    padding-top: 60px;
    clear: both;
}
/*Основной лист*/
#main {
    height: 1100px;
    border-radius: 20px;
    background-image: url(/img/main_background.jpg);
    margin: 0 20px 0 50px;
    padding: 30px 40px 30px 40px;
}
/*Таинственная псевдораспорка. Прячется в тени и носит шляпу.*/ 
/*Не трогайте её, позязя :3*/
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
#reg_auth {
    float: right;
    width: 200px;
    background-color: yellow;
    padding-top: 0px;
    margin-right: 50px;
}
/*--------------------------------------*/

/*-------------Кнопки-------------------*/
/*Выдвижение кнопок при наведении*/
.button:hover {
    margin-top: 0;
    height: 60px;
}
/*Кнопки в покое*/
.button {
    background: url(/img/tap.jpg);    
    width: 200px;
    text-align: center;
    height: 40px;
    font-family: cursive;
    font-size: 25px; 
    margin-top: 20px;
    padding: 0px 15px 0px 15px;   
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
/*Положение кнопок*/
#topmenu {
    height: 60px;
    margin-left: 100px;
    position: absolute;
    width: 1000px;
}
/*Лучше не трогать*/
#topmenu div{
    display: inline-table;  
}
/*Ссылки на кнопках*/
a {
    text-decoration: none;
    color: #000000;
}
/*--------------------------------------------*/

/*---------------Главная страница-------------*/
.news {
    border: 5px darkseagreen solid;
    height: 300px;
    margin-bottom: 30px;
}

.news div img {
    margin: 15px 0 0 30px;
    width: 185px;
    height: 250px;
}

.news div {
    display: inline-table;
}

.description {
    position: absolute;
    margin: 5px 400px 5px 30px;
    float: right;
}

.description h1 {
    font-size: 40px;
    font-family: monospace;
}

.description h3 {
    font-family: cursive;
    font-size: 20px;
}

.description p {
    display: block;
    position: absolute;
    width: 900px;
}

.links {
    text-decoration: underline;
    color: blue;
}
/*--------------------------------------------*/

/*--------------------Каталог-----------------*/

/*Навигационное меню "Жанры"(пока не подключено)*/
#navmenu {
    background-image: url(/img/navmenuli.jpg);
    background-size: cover;
    width: 200px;
    float: left;
    border-radius: 10px;
    font-family: cursive;
    position: fixed;
}
/*Заголовок "Жанров"*/
#navmenu h1 {
    text-align: center;
    background-image: url(/img/navmenuh1.jpg);
    background-size: contain;
    margin-top: 0px;
    height: 50px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px #000000;
}
/*Элементы самого меню "Жанры"*/
#navmenu ul li {
    padding-top: 7px;
}
/*Блоки внутри артикля*/
.catalog-span {
    display: block;
    width: 20%;
    height: 100%;
    text-align: center;
    float: left;
    font-family: arial;
    margin: 0;
}
/*Артикль*/
#catalog {
    height: 1100px;
    border-radius: 20px;
    background-image: url(/img/main_background.jpg);
    margin: 0 20px 0 50px;
}
/*Блоки с жанрами и авторами*/
.catalog-span > div {
    height: 500px;
    margin-top: 50px;
}

/*----------------Регистрация-----------------*/

/*Основная страница*/
#reg_page {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(/img/main_background.jpg);
    background-size: cover;
    //background-repeat: no-repeat;
    height: 500px;
    max-height: 1980px;
}