AddDefaultCharset utf-8
<IfModule dir_module>
    DirectoryIndex index.php
</IfModule>
<Files ~ "^(addbook|header|footer|connect|nav|mainmenu|func|fav)\.php$">
	Order Deny,Allow
	Deny from all
</Files>
<Files ~ "^(mysql|PEAR)\.rar$">
	Order Deny,Allow
	Deny from all
</Files>
