AddDefaultCharset utf-8
<IfModule dir_module>
    DirectoryIndex index.php
</IfModule>
<Files ~ "^(header|footer|connect|nav|mainmenu|func)\.php$">
	Order Deny,Allow
	Deny from all
</Files>
<Files ~ "^(mysql)\.rar$">
	Order Deny,Allow
	Deny from all
</Files>
